.dropbtn {
	padding-top: 15px;
}

.dropbtn:hover, .dropbtn:focus {
	cursor: pointer;
    color: #00ffff;
} 

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.friendlistplace{
	position: absolute;
    background-color: white;
    width: 200px;
    overflow-x: hidden;
    word-wrap:break-word;
    max-width: 600px;
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 50px;
    border-radius: 5px;
    border: solid black 2px;
}

.dropdown{
	background-image: url("../img_all/more.png");
	background-size: 80%;
    background-repeat: no-repeat;
    background-position: 5px;
	width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 10px;
}

.disapper {
	display: none;
}

.profileDropdown:hover, .profileDropdown:focus {
	cursor: pointer;
    color: #00ffff;
} 

.profileDropdown {
	position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    top:43px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
	background-color: #f1f1f1
	}

.flh2{
	text-align: center;
	font-size: large;
	font-weight: bold;
}
.flp{
	text-align: center;
}