*{
	outline: none;
	box-sizing: border-box;
}
input{
	border:1px solid #ccc;
	border-radius: 4px;
	padding: 7px;
}
input:focus{
	border:2px solid #facd89;
}

section {
	display: block;
	width: 100%;
	height: 100%;
}
section .profileModify {
	text-align: center;
}
section .profileModify .profileModify-inner {
	position: relative;
	padding: 50px 0px;
	margin: 0 auto;
	width: 550px;
	border-radius: 3px;
	background-color: #70a3d1;
	box-shadow: 3px 4px .5px #f3f3f3;
	overflow: hidden;
}
.profileModify {
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 999;
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.profileModify.is-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0s;
	transition: opacity 0.3s 0s, visibility 0s 0s;
}
.profileModify-inner {
	position: fixed;
	top: 100px;
	-webkit-transform: translateY(-40px);
	-moz-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	-o-transform: translateY(-40px);
	transform: translateY(-40px);
	/* Force Hardware Acceleration in WebKit */
	-webkit-backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.is-visible .profileModify-inner {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.changeProfile > div {
	margin-bottom: 10px;
	color: white;
}
.profileCell{
	margin-left: 30px;
	display: inline-block;
}
.profileLabel{
	width:150px;
	text-align: right;
	display: inline-block;
}
.profileLabel:after{
	clear: both;
}
.profileImageFieldset input{
	cursor: pointer;
}
.submitFieldset{
	margin-top: 20px;
}
.submitFieldset input{
	border: 0;
	background-color: #0099cc;
	color: #FFF;
	cursor: pointer;
}
#imageplace img{
    left: 500px;
    top: 100px;
    width: 300px;
    height: auto;
}