body.pageLayout{
	background-color: #e9ebee;
    background-image: none !important;
}

#pageContainer{
	width: 1000px;
	margin: 0 auto;
}

#menubar{
	background-color: #ffffff;
	height : 30px;
	font-size: 15px;
	padding-top: 10px;
}

#menubar_left{
	float: left;
	margin-left: 10px;
}

#menubar_left a{
	margin: 10px;
}

#menubar_right{
	float: right;
	margin-right: 10px;
}

#menubar_right a{
	margin: 10px;
}

#left_menu {
	float: left;
	margin-top : 20px;
	margin-right : 20px;
	width : 200px;
	height : auto;
	position: relative;
}

#left_menu img {
	width : 200px;
	height : 230px;
	margin-bottom: 10px;
	border: 2px solid #555;
	
}

#text_pagehome {
	text-decoration: none;
	font-size: 25px;
	margin: 10px;
	padding: 10px;
}

#left_menu_ul {
	list-style-type: none;
    margin: 0;
    margin-top: 19px;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 200px;
    background-color: #f1f1f1;
}

#left_menu_ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#left_menu_ul li a:hover {
    background-color: #555;
    color: white;
}

#pageTimeline_view{
	width: 750px;
	float: right;
}

#main_img img {
	width: 750px;
	padding: 0px;
	margin: 0px;
	height: 250px;
}

#pageTimeline_centermenu{
	width: 750px;
	background-color: #ffffff;
	heigth: 200px;
	margin-bottom: 15px;
}

#like_button {
	padding: 5px;
	margin: 15px;
}

#pageTimeline_left {
	width: 450px;
	float: left;
	border: 1px solid #555;
}

#pageTimeline_right {
	width: 250px;
	height: auto;
	float: right;
	border: 1px solid #555;
	margin: 5px;
	padding: 5px;
}