@charset "UTF-8";

body {
	background-color: #c9d0db;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}

.search_view_box {
    border-bottom: 1px solid #e3e6e9;
    margin: 0;
    padding: 12px;
}

.search_main {
	width: 496px;
	padding-left: 0;
	padding-right: 10px;
	margin-top: 44px !important;
	/* 	width: 100%;
	display: block;
 */ /* background-color: #3f5068; */
	/* 	overflow: auto;*/
}

.search_post {
 	border: 1px solid #dddfe2;
    background-color: #fff;
	margin-top: 10px;
    position: relative;
    display: block;
}

.clearfix {
	zoom: 1;
}

.search_result .search_profile {
	display: block;
}

.search_result .search_profile img {
	/* height:100%; */
	width: 40px;
	float: left;
	vertical-align: middle;
	visibility: visible;
}

.search_result .search_profile h3 {
	vertical-align: middle;
}

.show {
	z-index: 1000;
	position: absolute;
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
	/* padding: 2px; */
	display: block !important;
	margin: 0;
	list-style-type: none;
	list-style: none;
}

.hide {
	display: none;
}

.show ul {
	-webkit-padding-start: 2em;
}

.show li {
	list-style: none;
}

.show a {
	border: 0 !important;
	text-decoration: none;
}

.show a:hover {
	text-decoration: underline !important;
}

.header_profile {
	width: 40%;
	display: inline-block;
	float: right;
	left: 80px;
	top: 10px;
}
.header_profile:after {
	clear: both;
}

.header_profile .header_wraper {
	display: inline-block;
	/* padding: 0 50px 0 0; */
	height: auto;	
}

.post_header img {
	height: 38px;
	width: 38px;
	border-radius: 50px;
}

.nav_icon {
	float: left;
}

.header_profile .header_wraper .nav_icon .friend_list, .header_profile .header_wraper .nav_icon .alarm_list
	 . .header_profile .header_wraper .nav_icon .message_list {
	/* float: none; */
	clear: both;
	margin: 5px 0 6px 0;
	position: relative;
}

.friend_list a.info, .alarm_list a.info {
	/* position: relative; this is the key
   color: #000;
   text-decoration: none;
   text-align: center; */
	/*    display: inline;
   margin: 0;
   outline: none;
   padding-left: 3px;
   padding-right: 3px;
   padding-top: 4px;
   position: relative;
   text-decoration: none; */
	
}

#alarm_notification span, #message_notification span,
	#friend_notification span {
	display: none;
}

.heart span {
	display: none;
}

.heart:hover span {
	display: inline;
}

.heart:hover span:after {
	display: inline;
}

.navImage:hover span, #friend_notification:hover span,
	#alarm_notification:hover span, #message_notification:hover span {
	/*the span will display just on :hover state*/
	padding: 5px;
	display: block;
	position: absolute;
	top: 50px;
	font-weight: bold;
	font-size: 0.8em;
	background-color: #000040;
	color: #fff;
	text-align: center;
}

.navImage:hover span:after, .heart:hover span:after,
	#friend_notification:hover span:after, #alarm_notification:hover span:after,
	#message_notification:hover span:after {
	/*the span will display just on :hover state*/
	padding: 5px;
	display: block;
	position: absolute;
	top: 50px;
	font-weight: bold;
	font-size: 0.8em;
	background-color: #000040;
	color: #fff;
	text-align: center;
}

.friend_list .navImage {
	position: relative;
	cursor: pointer;
	height: 45px;
	width: 45px;
	background-image: url(../img_all/notification.png);
	background-position: 0 -185px;
	background-repeat: no-repeat;
	background-size: 45px;
	overflow: hidden;
	display: inline-block;
	float: left;
	overflow: visible;
}

#friend_notification {
	position: relative;
	cursor: pointer;
	right: 15px;
	height: 32px;
	width: 32px;
	background-image: url(../img_all/headeruser.png);
	background-repeat: no-repeat;
	background-size: 32px;
	overflow: hidden;
	display: inline-block;
	/* float: left; */
	overflow: visible;
}

#friend_notification.alert {
	position: relative;
	cursor: pointer;
	height: 45px;
	width: 45px;
	background-image: url(../img_all/notification.png);
	background-position: 0 -227px;
	background-repeat: no-repeat;
	background-size: 45px;
	overflow: hidden;
	display: inline-block;
	float: left;
	overflow: visible;
}

.alarm_list .navImage {
	position: relative;
	cursor: pointer;
	height: 45px;
	width: 45px;
	background-image: url(../img_all/notification.png);
	background-position: 0 -142px;
	background-repeat: no-repeat;
	background-size: 45px;
	overflow: hidden;
	display: inline-block;
	float: left;
	overflow: visible;
}

#alarm_notification {
	position: relative;
	cursor: pointer;
	height: 32px;
	width: 32px;
	background-image: url(../img_all/bell.png);
	background-repeat: no-repeat;
	background-size: 32px;
	overflow: hidden;
	display: inline-block;
	float: left;
	overflow: visible;
}

#alarm_notification.alert {
	position: relative;
	cursor: pointer;
	height: 45px;
	width: 45px;
	background-image: url(../img_all/notification.png);
	background-position: 0 -100px;
	background-repeat: no-repeat;
	background-size: 45px;
	overflow: hidden;
	display: inline-block;
	float: left;
	overflow: visible;
	top:0px;
}

#message_notification {
	position: relative;
	cursor: pointer;
	left: 15px;
	height: 32px;
	width: 32px;
	background-image: url(../img_all/note.png);
	background-repeat: no-repeat;
	background-size: 32px;
	overflow: hidden;
	display: inline-block;
	/* float: left; */
	overflow: visible;
}

#message_notification.alert {
	position: relative;
	cursor: pointer;
	height: 45px;
	width: 45px;
	background-image: url(../img_all/notification.png);
	background-position: 0 -560px;
	background-repeat: no-repeat;
	background-size: 45px;
	overflow: hidden;
	display: inline-block;
	float: left;
	overflow: visible;
}

/* .header_profile .header_wraper .alarm_list {
   display: inline-block;
}

.header_profile .header_wraper .message_list {
   display: inline-block;
}
 */
.header_profile a {
	color: #474747;
	font-family: "나눔고딕", sans-serif;
	background-color: transparent;
	display: inline-block;
	font-size: 17px;
	-moz-osx-font-smoothing: grayscale;
	font-weight: bold;
	height: 40px;
	line-height: 28px;
	padding: 0 5px 1px;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
	top: 5px;
}

.header_profile a img {
	height: 38px;
	width: 38px;
	border-radius: 50px;
}

span {
	font-family: inherit;
}
.accessible_elem {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

#displayAlarmList{
	border: 2px solid #adbed8;
	display: none;
	position: absolute;
	top: 50px;
	font-weight: bold;
	font-size: 0.8em;
	background-color: #FFF;
	color: #000;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#displayChatList span
{
	display: none;
	border: 2px solid #adbed8;
	border-radius: 10px;
	padding: 5px;
	display: block;
	position: absolute;
	top: 50px;
	font-weight: bold;
	font-size: 0.8em;
	background-color: #FFF;
	color: #000;
	text-align: left;
	width: 20%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#displayChatList span ul,
#displayAlarmList ul {
	padding: 0;
	color: #000;
	text-overflow: ellipsis;
	overflow: hidden;
}

#displayChatList span ul li,
#displayAlarmList span ul li {
	border-bottom: 1px solid #adbed8;
	color: #000;
	text-overflow: ellipsis;
	overflow: hidden;
}

#displayChatList span ul li:last-child,
#displayAlarmList span ul li:last-child {
	border-bottom: 0;
	color: #000;
	text-overflow: ellipsis;
	overflow: hidden;
}

#displayChatList span ul li a,
#displayAlarmList span ul li a{
	color: #000;
	text-overflow: ellipsis;
	overflow: hidden;
}

.chatListToggle {
	display: none;
}

#chatRoomDisplay .sentMsg {
	float: right;
	width: 60%;
	text-align: right;
	overflow-wrap: break-word;
	display: block;
	padding: 2px 5px;
	margin: 5px;
	background-color: rgba(255, 140, 140, 0.4);
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

#chatRoomDisplay .chatSender {
	
}

#chatRoomDisplay .chatMessage {
	display: inline;
}

#chatRoomDisplay .sentMsg .chatMessage {
	
}

#chatRoomDisplay .chatCreated {
	
}

#chatRoomDisplay .receivedMsg {
	/* background-color: grey; */
	text-alight: left;
	overflow-wrap: break-word;
	float: left;
	width: 60%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: rgba(140, 201, 255, 0.4);
	display: block;
	padding: 2px 5px;
	margin: 5px;
}

#chatRoomDisplay .receivedMsg img {
	float: left;
	width: 20px;
	margin-right: 10px;
}

.search_post .rightMargin {
	margin-right: 12px;
	margin-bottom: 10px;
}

.search_post .leftFloat {
	float: left;
}

.search_post a {
	display: block;
	color: #365899;
	cursor: pointer;
	text-decoration: none;
}

.search_post a img {
	width: 72px;
	height: 72px;
}

.search_detail {
	height: auto;
	margin-top: 8px;
	position: relative;
	display: block;
}

.memberListAction{
	margin-left: 4px;
    margin-right: 2px;
    position: relative;
    top: -4px;
    float:right;
    display: inline-flex;
}

.friendBtn{
	display: inline-block;
/*     vertical-align: top; */
}

.friendBtn>a{
	border-radius: 2px 0 0 2px;
    margin-left: 0 !important;
    display: inline-block;
    margin: 0 !important;
    position: relative;
    z-index: 1;
    background-color: #f6f7f9;
    border-color: #ced0d4 !important;
    color: #4b4f56;
    line-height: 22px;
    border: 1px solid;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 0 12px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
}
.addFriend{
	background-image: url(https://d30y9cdsu7xlg0.cloudfront.net/png/961454-200.png);
    background-size: 54px 330px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    bottom: 1px;
    background-position: center;
	position: relative;
    vertical-align: middle;
    background-size: 115%;
}

.checkFriend{
	background-image: url(https://d30y9cdsu7xlg0.cloudfront.net/png/1283376-200.png);
    background-size: 54px 330px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    bottom: 1px;
    position: relative;
    vertical-align: middle;
    background-size: 100%;
}

.uiPopover{
	display: inline-block;
}

.uiPopover a{
	border-radius: 0 2px 2px 0;;
    margin-left: 0 !important;
    display: inline-block;
    margin: 0 !important;
    position: relative;
    z-index: 1;
    background-color: #f6f7f9;
    border-color: #ced0d4 !important;
    color: #4b4f56;
    line-height: 22px;
    border: 1px solid;
    border-left: none;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    line-height: 22px;
}

.expandBtn{
	width: 25px;
    height: 25px;
    background-image: url(https://d30y9cdsu7xlg0.cloudfront.net/png/615120-200.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
}

.friend-dropdown{
	display: none;
	background-color: #f9f9f9;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.friendBtn:hover .friend-dropdown{
	display: block;
}

.friend-dropdown a{
	padding: 2px;
	margin: 5px 15px;
	font-size: 0.8em;
}
