<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <properties resource="db.properties" /> -->
	<typeAliases>
		<typeAlias  type="only.model.Chat" alias="chat"/>
		<typeAlias  type="only.model.Member" alias="member"/>
		<typeAlias  type="only.model.Post" alias="post"/>
		<typeAlias  type="only.model.Post_Files" alias="postFiles"/>
		<typeAlias  type="only.model.Comments" alias="comments"/>
		<typeAlias  type="only.model.Friendlist" alias="friendlist"/>
		<typeAlias  type="only.model.Likes" alias="likes"/>
		<typeAlias  type="only.model.Post_Location" alias="location"/>
		<typeAlias  type="only.model.Page" alias="page"/>
		<typeAlias  type="only.model.Alert" alias="alert"/>
		<typeAlias  type="only.model.HashTag" alias="hashtag"/>
	</typeAliases>

	<mappers>
		<mapper resource="TextMessageList.xml" />
		<mapper resource="Member.xml" />
		<mapper resource="Post.xml" />
		<mapper resource="Comments.xml" />
		<mapper resource="Friendlist.xml" />
		<mapper resource="Likes.xml" />
		<mapper resource="Page.xml" />
		<mapper resource="Alert.xml" />
		<mapper resource="HashTag.xml" />
		
	</mappers>
</configuration>
